PORT=5000
JWT_SECRET=12341234567856781234

DB_HOST=bdrew3i3qjdezx3jp4dr-mysql.services.clever-cloud.com
DB_NAME=bdrew3i3qjdezx3jp4dr
DB_USER=utechtmxkrh3uquw
DB_PASSWORD=2vMiRR19ppemHLW9eAB1
DB_PORT=3306
